@model Employee
@{
    ViewData["Title"] = "Update Employee";
}

<h1 class="display-3">Update an Employee</h1>
<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Salary" class="form-label">Salary</label>
        <input asp-for="Salary" class="form-control">
        <span asp-validation-for="Salary"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Department" class="form-label">Department</label>
        <input asp-for="Department" class="form-control">
        <span asp-validation-for="Department"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form> 

